@import "settings";
@import "foundation";


$bottom-nav-height: 40px;
$top-bar-height: 45px;
$drawing-bar-height: 40px;
$board-header-height: 85px;

@mixin hide {
  display: none !important;
}

h1 {
  font-family: 'Droid Sans';
}

h2 {
  font-family: 'Droid Sans';
}

h3 {
  font-family: 'Droid Sans';
}

h4 {
  font-family: 'Droid Sans';
}

h5 {
  font-family: 'Droid Sans';
}

h6 {
  font-family: 'Droid Sans';
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -apple-user-select: none;
}

/* app css stylesheet */

.white-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: #F9F9F9,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );

  margin-bottom: 0px;
}


#homeDrawingBoard {
  position: relative;
  border-bottom: solid 1px #aaa;
  > label {
    
      color: black;
      font-size: 60px;
      font-family: "Wellfleet";
    
    position: absolute;
    top: 10%;
    left:  10%;
  }
}

#homeView {
  text-align:center;
  > #moreInfoDiv {
    width: 100%;
    background-color: white;
    height: 40px;
    > a {
      line-height: 40px;
      vertical-align: middle;
    }
  }
}

.hideWord {
  display: none !important;
}

// * {
//   overflow: visible;
// }

html {
  // width: 100%;
  // height: 100%;
  min-width: 320px;

}
// body {
//   width: 100%;
//   height: 100%;
// }

// body > div {
//   width: 100%;
//   height: 100%;
// }

#loginRedirectGroup > div{
  display: inline-block;
  margin: 5px;
}
#loginRedirectGroup {
  text-align:center;
}

.disableUnderlineTip {
  border: none !important;
}

.headerIconButton {
  display: inline-block;
}

.headerButton {
  font-family: 'Droid Sans'!important;
  font-size: 16px!important;
}

#loginTitle {
  text-align:center;
  font-size: 2em;
  font-family: 'Droid Sans';
  color:#AAA;
}

#authMoreInfo {
  text-align:center;
  padding-top:20px;
}

.authIcon {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#googleIcon {
  background-image: url("/img/googleplusicon.png");
}

#facebookIcon {
  background-image: url("/img/facebookicon.png");
}

#linkedinIcon {
  background-image: url("/img/linkedinicon.png");
}

#twitterIcon {
  background-image: url("/img/twittericon.png");
}

#githubIcon {
  background-image: url("/img/githubicon.png");
}

#loginModal {
  font-family: 'Droid Sans';
  width: 100%;
  display:none;
}

.spinStyle {
  width: 100%;
  height: 100px;
  text-align: center;
  color: #444;
}

#blockAccess {
  text-align:center;
  display:none;
  width: 100%;
  height: 100%;
  color: #999;
  background-color: white;
  padding-top: 10%;
  padding-bottom: 20px;
  // z-index: 100;
}

/*-------------------Index---------------------------*/

.panBox {
  opacity: 0;
  background-color: none;
}

#mainHeader {
  background-image: none;
  height: $top-bar-height;
  width: 100%;
  * {
    /* display: inline-block;*/
  }
}

.noUserSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/*------------------Home Header---------------------*/

.siteName {
  color: white;
  font-family: "Wellfleet";
  font-size: 32px;
}

#homeHeader {
  position: fixed;
  color: white;
}

.buttonBar {
  text-align: right;
  > div {
    padding: 0 15px;
    background-color: #2E2E2E;
    border-style: none;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech';
    -webkit-user-select: none;
    cursor: pointer;
  }
}

/*-----Boards Page ----*/

#boardList {
  margin: auto;
  width: 100%;
  padding: 20px;
  > div > table {
    border: none;
    background-color: white;
    width: 100%;

    > tbody > tr {
      vertical-align: middle;
      > .table-header {
        text-decoration: normal;
        text-decoration: underline;
      }
      > td {
        background-color: white;
      }
    }
  }
}

/*-------------------Board---------------------------*/

$board-page-color: white;
$mode-menu-height: 35px;
$icon-width: 50px;

$board-border-style: dashed 2px #aaa;
$toolbar-border-style: solid 1px #aaa;


#drawingBoard {
  width: 640px;
  height: 480px;
  text-align: center;
  background-color:white;
  margin: auto;
  border: $board-border-style;
}

#drawingToolBar {
  width: 100%;
  height: $drawing-bar-height;
  margin-bottom: 10px;
  // border-left: $toolbar-border-style;
  border-bottom: $toolbar-border-style;

  > ul {
    padding: 2px;
    display:inline;
    list-style: none !important;
    margin: 0px;
    padding: 0px;

    vertical-align: middle;
    line-height: $drawing-bar-height;

    > #menuToolButton {
      color: #666;
    }

    > li {
      display: inline;
      text-align: center;
    } 

    > li:hover {
      color: $primary-color !important;
    }

    > li  > div {
      background-color: white;
      border:none;
    }

    > li > i {
      width: $icon-width;
      height: 100%;
      // border: $board-border-style;
      // border-radius: 3px;
      cursor: pointer;
    }
  }
}

.left-divider {
  border-left: solid 1px #aaa;
  
} 



#modeMenu {
  position:absolute;
  right: 0px;
  top: $board-header-height;
  z-index: 1;
  background-color:$board-page-color;
  line-height: $mode-menu-height;
  vertical-align: middle;
  border-bottom: $toolbar-border-style;
  border-left: $toolbar-border-style;

  > div {
      float: right;
      display: inline;
      text-align: center;
      
      > div {
        border: none;
        background-color: white;
        margin-right: 10px;
      }

      > i {
        width: $icon-width;
      }
  }

  > div:hover {
    color: $primary-color;
    cursor:pointer;
  }
}

#boardContainer {
  background-color:$board-page-color;
}

#boardEdit {
  > table {
    border: none;
    background-color: white;
    > tbody > tr > td {
      background-color: white;
      > .removeIcon {
        color: #CD0000;
        background-color: white;
      }

      > i {
        cursor: pointer;
      }
    }
  }

  > div {
    padding: 20px;

    > .addUserTextBox{
      width: 75%;
    }
    > i {
      color: #222;
      padding: 0 10px;
    }
    > a {
      margin-left: 20px;
      margin-bottom: 10px;
    }
    > * {
      display: inline-block;
    }
    // > input {
    //   padding: 5px;
    //   background-color: white;
    //   border: solid 1px #777;
    //   font-family: 'Droid Sans';
    //   font-size: medium;
    // }
  }
}

@mixin mobile-full-page {
  position: fixed;
  top: $top-bar-height;
  left:0px;
  right: 0px;
  bottom: $bottom-nav-height;
  width: 100%;
}

@mixin desktop-full-page {
  display: block !important;
  //position:absolute;
  //top: $top-bar-height;
  //bottom: 0px;
}

.scrollContent {
   // position:absolute;
   // top: $board-header-height;
   // bottom: 0px;
}

bloomboard {
  position:fixed;
  top: $board-header-height;
  right: 0px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 1%;
}

#drawingToolBar {
  position: fixed;
}

.userForm {
  padding: 20px;
  > h1 {
    text-align: left;
    padding-bottom: 20px;
  }
  > input {
    min-width: 250px;
    max-width: 400px;
    width: 75%;
    display:inline;
    margin-right: 20px;
  }

  text-align: center;
  > button {
    display:inline;
  }
}

#top {
  position: fixed;
  top: $board-header-height;
  height: 50px;
  right: 0px;
}

#left {
  position: fixed;
  top: $board-header-height;
  width: 50px;
}

#bottom {
  position: fixed;
  height: 50px;
  right: 0px;
}

#right {
  position: fixed;
  top: $board-header-height;
  right: 0px;
  width: 50px;
}


@media #{$medium-down} {

  #top {
    left: 0px;
    right: 0px;
  }

  #left {
    left: 0px;
    bottom: $bottom-nav-height;
  }

  #bottom {
    bottom: $bottom-nav-height;
    left: 0px;
  }

  #right {
    bottom: $bottom-nav-height;
  }


  #drawingToolBar {
    top: $top-bar-height;
    left: 0px;
    right: 0px;
  }

  bloomboard {
    left: 0px;
    bottom: $bottom-nav-height;
  }

  .scrollContent {
    // 
  }

  #myModal {
    visibility: hidden;
  }

  #modeToolButton {
    // color: #555;
  }  

  #menuToolButton {
    display: none !important;
  }

  .modeTool {
    display: none !important;
  }

  #boardContainer {
    @include mobile-full-page;

  }

  #boardPage > #boardEdit {
    display: none;
    padding: 20px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    @include mobile-full-page;
  }
  #boardUsers{
    display: none;
    //@include mobile-full-page;
    > #boardName {
      position:fixed;
      top: $top-bar-height;
      left: 0px;
      right: 0px;
      height: $drawing-bar-height;
    }
    > .scrollContent {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      position:fixed;
      top: $board-header-height;
      left: 0px;
      right: 0px;
      bottom: $bottom-nav-height;
    }

    > .scrollContent > .button {
      display: none !important;
    }
  }
}

.hide-page {
  @include hide;
}
$board-user-width: 200px;

@media #{$large-up} {

  #top {
    left: $board-user-width;
  }

  #left {
    left: $board-user-width;
    bottom: 0px;
  }

  #bottom {
    bottom: 0px;
    left: $board-user-width;
  }

  #right {
    bottom: 0px;
  }


  .scrollContent {
    // bottom: 0px;

  }

  #drawingToolBar {
    top: $top-bar-height;
    left: $board-user-width;
    right: 0px;
  }


  bloomboard {
    left: $board-user-width;
    bottom: 0;
  }

  #boardPage > #boardEdit {
    @include hide;
  }

  #modeToolButton {
    @include hide;
  }

  #modeMenu {
    display: none !important;
  }

  #boardContainer {
    @include desktop-full-page;
    left:$board-user-width;
    right: 0px;
  }

  #boardUsers {
    @include desktop-full-page;
    left: 0px;
    width: $board-user-width;
    // border-right: $board-border-style;
    background-color:$board-page-color;

    > .scrollContent > .button {
      font-size: medium;
    }
  }

  #boardNav {
    display: none !important;
  }

}



#boardNav {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #111;
  left: 0px;
  height: $bottom-nav-height;

  line-height: $bottom-nav-height;
  vertical-align: middle;
  text-align: center;
  color: #777;

  > i:hover {
    color: white;
  }

  > i {
    padding: 0px 30px;
  }
}

.navIconSelect {
  color:white;
}

#boardUsers {
    font-family: 'Droid Sans';
    background-color:$board-page-color;
    text-align: right;

    > * {
      padding-right: 20px;
    }

    > #boardName {
      text-align: left;
      height: $drawing-bar-height;
      vertical-align: middle;
      line-height: $drawing-bar-height;
      > #boardNameLabel {
        padding-left: 40px;
        cursor: text;
        font-size: 20px;

        > div {
          overflow: hidden;
          max-height: $drawing-bar-height;
        }
      }
      margin-bottom: 20px;
      border-bottom: $toolbar-border-style;
    }

    >.scrollContent {
      > .title {
        text-align: right;
        padding-top: 15px;
        font-size: 24px;
        color: #777;
      }

      > p {
        padding: 10px;
        cursor: pointer;
        color: #888;
      }

      > p:hover {
        color: $primary-color !important;
      }

      > ul {
        text-align: right;
        padding-top: 10px;
        list-style: none;
        margin: 0px;
        > li {
          > i {
            width: 20px;
            padding: 5px;
            display: inline;
            color: green;
          }
          > p {
            width: 100px;
            padding: 5px;
            display: inline;
          }
        }
      }
    }
  }

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.4; }
}

.iconOpacity {
  opacity: 1.0 !important;
}

.css3-blink {
  -webkit-animation: blinker 1.2s linear infinite;
  -moz-animation: blinker 1.2s cubic-bezier(1.0,0,0,1.0) infinite;
  animation: blinker 1.2s cubic-bezier(1.0,0,0,1.0) infinite;
}

// #topLeft {
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   border-left: solid 3px #7A7A7A;
//   border-top: solid 3px #7A7A7A;
// }

// #bottomRight {
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   bottom: 0px;
//   right: 0px;
//   border-right: solid 3px #7A7A7A;
//   border-bottom: solid 3px #7A7A7A;
// }

.boardCenter {
  // position: absolute;
  // top: 150px;
}



#boardPage {
  // position: relative;
}



/*------------------Login---------------------*/

.hoverIcon {
  color: $primary-color !important;
}

.toolButtonActive {
  // background-color: #999;
  color: $primary-color 
}

#toolsSection {
  //float:right;
}

.toolbarList {
  
}

#toolsMenu {
  position: absolute;
  right: 0px;
  top: $board-header-height;
  z-index: 1;
  background-color: white;
  border: $toolbar-border-style;
  border-top: none;

  > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    > li {
      
      margin: 0px;
      padding: 0px;
      text-align: center;

      > i {
        cursor: pointer;
        padding: 10px 10px;
      }

    }

    >li:hover {
      color: $primary-color;
    }
  }
}



#boardNameTextBox
{
  line-height: $drawing-bar-height;
  vertical-align: center;
  padding-left: 20px;

  > input {
    font-family: 'Droid Sans';
    font-size: medium;
    background-color: inherit;
    border: none;
    border-bottom: dotted 2px #999;
    outline: none;
    width: 175px;
  }
}

/*-------http://tobiasahlin.com/spinkit/--------*/

.multiRectSpin {
  margin: 100px auto;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.multiRectSpin > div {
  background-color: #008cba;
  height: 100%;
  margin-left: 1px;
  margin-right: 1px;
  width: 12px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.multiRectSpin .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.multiRectSpin .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.multiRectSpin .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.multiRectSpin .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4) }  
  20% { transform: scaleY(1.0) }
}

.rectSpin {
  width: 50px;
  height: 50px;
  background-color: #008cba;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg) }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg) }
}