form(ng-submit="activateTextMode()")
    p Please enter some text
    input(type="submit", value="Submit")
    textarea(ng-model="textInput", required="")
    p {{textInput}}
p for the width:
input(type="text", ng-model="widthInput")
button(ng-click="changeWidth()") changeWidth
button(ng-click="activateDeleteOneMode()") Delete by click
button(ng-click="deleteSelection()") Delete Selection
#drawingBoard
        //- .spinStyle.boardCenter
          //  i.fa.fa-spinner.fa-spin.fa-3x
        #top.panBox
        #bottom.panBox
        #left.panBox
        #right.panBox
        input#boardData(type='hidden')
