form(ng-submit="activateTextMode()")
    p Please enter some text
    textarea(ng-model="textInput", required="")
    input(type="submit", value="Submit")
#drawingBoard
        //- .spinStyle.boardCenter
          //  i.fa.fa-spinner.fa-spin.fa-3x
        #top.panBox
        #bottom.panBox
        #left.panBox
        #right.panBox
        input#boardData(type='hidden')
