<<<<<<< HEAD
input(ng-model="pencolor").colorpicker
#drawingBoard(width=)
=======
#drawingBoard(width=480,height=480)
>>>>>>> boarddesign
    .spinStyle.boardCenter
        i.fa.fa-spinner.fa-spin.fa-3x
    #topLeft
    #bottomRight
    input#boardData(type='hidden')
