#drawingBoard(width=)
    #topLeft
    #bottomRight
    input#boardData(type='hidden')
    button.btn.btn-default(ng-click='toggleSelectMode()')  Toggle Select Mode
    button.btn.btn-default(ng-click='clearBoard()') Clear Board
