#boardView
	div(click-login, escapable="false")
	drawing-toolbar
	bloomboard(width=640, height=320)
//- button(type="button", ng-click="toggleSelectMode()").btn.btn-default Toggle Select Mode
//- button(type="button", ng-click="clearBoard()").btn.btn-default Clear Board
