#boardUsers.boardpage
		.button#editModal.round.tiny edit
		.title Editing
		ul
			li(ng-repeat="(key, value) in editors | limitTo: numEditors ")
				p {{key}}
				i(ng-show="value.writing").fa.fa-pencil
				i(ng-hide="value.writing").fa.fa-circle-o
		p(ng-click="showMoreEditors()") {{expandedEditors}} {{editors.length - defaultShown}} Users
		.title Following
		ul
			li(ng-repeat="(key, value) in followers | limitTo: numFollowers")
				p {{key}}
				i.fa.fa-circle-o
		p(ng-click="showMoreFollowers()") {{expandedFollowers}} {{followers.length - defaultShown}} Users