#boardView
	//- #loginPopup(click-login)
	#drawingToolBar
	bloomboard(width=640, height=320)
	a(href="/auth/google") Sign in with Google
//- button(type="button", ng-click="toggleSelectMode()").btn.btn-default Toggle Select Mode
//- button(type="button", ng-click="clearBoard()").btn.btn-default Clear Board
