div(need-access)
#boardPage(ng-show="showView")
	edit-modal
	#switchModal.reveal-modal(data-reveal).small.alertModal
		p Your access level has been changed
		a.close-reveal-modal &#215;
	#deleteModal.reveal-modal(data-reveal).small.alertModal
		p This board has been deleted
		a.close-reveal-modal &#215;
	user-list
	edit-page.boardpage
	#boardContainer.boardpage
		drawing-toolbar
		bloomboard(width=640, height=480).scrollContent
	board-nav