div(need-access)
div(style='padding:  35px 300px 35px 35px;')(ng-show="showView")
	form(name='newBoardDetails')
		h1.formTitle Create Board
		.form-group
			input(name='input', type='text', ng-model='boardData.newBoardName', placeholder='Name', required).form-control
		button(ng-model='btnCreateBoard', ng-disabled='newBoardDetails.$invalid',ng-click='createBoardClick()').btn.btn-default Create