div(click-login, escapable="false")
div
	form(name='newBoardDetails')
		.formTitle Create Board
		.form-group
			input(name='input', type='text', ng-model='boardData.newBoardName', placeholder='Name', required).form-control
		button(ng-model='btnCreateBoard', ng-disabled='newBoardDetails.$invalid',ng-click='createBoardClick()').btn.btn-default Create