#drawingToolBar
	ul.inline-list
		li
			span {{boardName}}
		li
			i.fa.fa-pencil.fa-lg#pencilToolButton.toolButtonActive
		li
			i.fa.fa-hand-o-up.fa-lg#selectToolButton
		li
			i.fa.fa-trash-o.fa-lg#deleteToolButton
		li
			i.fa.fa-picture-o.fa-lg#saveToolButton