#drawingToolBar
	ul.toolbarList
		li#boardName
			span {{boardName}}
		li(style="display:none")#boardNameTextBox
			input(type="textbox", value="{{boardName}}")
	ul#toolsSection.toolbarList
		li(title="Draw Mode")#pencilToolButton.modeTool
			i.fa.fa-pencil.fa-lg.toolButtonActive
		li(title="Select Mode")#selectToolButton.modeTool
			i.fa.fa-hand-o-up.fa-lg
		li#modeToolButton
			i.fa.fa-lg.fa-square-o
		li#menuToolButton
			i.fa.fa-gear.fa-lg

		
		//- li#toolsMenuButton
		//- 	i.fa.fa-square-o.fa-lg
	#toolsMenu(style="display:none")
		ul
			li(title="Clear the Board")#deleteToolButton
				i.fa.fa-trash-o.fa-lg
			li(title="Save to PNG")#saveToolButton
				i.fa.fa-picture-o.fa-lg