div(click-login)
div(style='padding:  35px;')
	h3 Name: {{boardName}}
	br
	h4 Write Access:
	table
		tbody		
			tr(ng-repeat='user in writeAccess')
				td(style='min-width:250px;')
					label {{user.displayName}}
				td(style='min-width:250px;')
					label {{user.email}}
			tr(ng-show='canEdit')
				td
				td(style='min-width:250px;')
					input(ng-model='addWriteAccess', placeholder='Add to write access', style='min-width:240px;').form-control
	button(ng-click='addAccessClick()', ng-show='canEdit').btn.btn-default Add
	br
	hr
	h4 Read Access:
	table
		tbody		
			tr(ng-repeat='user in readAccess')
				td(style='min-width:250px;')
					label {{user.displayName}}
				td(style='min-width:250px;')
					label {{user.email}}
			tr(ng-show='canEdit')
				td
				td(style='min-width:250px;')
					input(ng-model='addReadAccess', placeholder='Add to read access').form-control	
	button(ng-click='addAccessClick()', ng-show='canEdit').btn.btn-default Add
div(style='padding:  35px;', ng-show='canEdit')
	button(ng-click='deleteBoard()').btn.btn-default Delete
	