#boardEdit
	h4 Editors:
	table#editorsTable
		tbody		
			tr(ng-repeat='user in writeAccess')
				td
					span {{user.username}}
				td
					span {{user.email}}
				td(ng-show='canEdit')
					i(ng-hide='user.username == username', ng-click='switchAccess(user.username, "write")', title="Change to Follower").fa.fa-arrow-down.fa-lg.changeAccess
				td(ng-show='canEdit')
					i(ng-hide='user.username == username', ng-click='removeAccess(user.username)', title="Remove").fa.fa-minus-circle.fa-lg.removeIcon
	div(ng-show="canEdit")
		i.fa.fa-lg.fa-plus
		input(ng-model='addWriteAccess', placeholder='Add to write access', type="text").addUserTextBox
		a(ng-click='addAccessClick()').button.tiny.radius.success add
	h4 Followers:
	table#followersTable
		tbody		
			tr(ng-repeat='user in readAccess')
				td
					span {{user.username}}
				td
					span {{user.email}}
				td(ng-show='canEdit')
					i(ng-click='switchAccess(user.username, "read")', title="Change to Editor").fa.fa-arrow-up.fa-lg.changeAccess 
				td(ng-show='canEdit')
					i(ng-click='removeAccess(user.username)', title="Remove").fa.fa-minus-circle.fa-lg.removeIcon
	div(ng-show="canEdit")
		i.fa.fa-lg.fa-plus
		input(ng-model='addReadAccess', placeholder='Add to read access', type="text").addUserTextBox
		a(ng-click='addAccessClick()').button.tiny.radius.success add
	div(ng-show="canEdit")
		input(ng-model='_public', type="checkbox", ng-change='visibilityChange()')
		label Public
	div(ng-show='canEdit')
		a(ng-click='deleteBoard()').button.radius.large.alert Delete Board
		
			

	