div
	.formTitle Edit
	label() Name: {{boardName}}
	br
	h1 WriteAccess:
	div(ng-repeat='user in writeAccess')
		hr
		label() {{user.displayName}}
		br
		label() {{user.email}}
	h1 Read Access:
	div(ng-repeat='user in readAccess')
		hr
		label() {{user.displayName}}
		br
		label() {{user.email}}
	input(ng-model='addWriteAccess', placeholder='Add to write access').form-control
	br
	input(ng-model='addReadAccess', placeholder='Add to read access').form-control
	br
	button(ng-click='addAccessClick()').btn.btn-default Add