div(click-login)
div
	.formTitle Edit
	h1 Name: {{boardName}}
	h3 Write Access:
	div(ng-repeat='user in writeAccess')
		label {{user.displayName}}
		br
		label {{user.email}}
		hr
	h3 Read Access:
	div(ng-repeat='user in readAccess')
		label {{user.displayName}}
		br
		label {{user.email}}
		hr
	input(ng-model='addWriteAccess', placeholder='Add to write access').form-control
	br
	input(ng-model='addReadAccess', placeholder='Add to read access').form-control
	br
	button(ng-click='addAccessClick()').btn.btn-default Add