nav.top-bar(data-topbar="")#homeheader
	ul.title-area
		li.name
			h1
				a.siteName napkin
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu
	section.top-bar-section
		ul.right(ng-show="activeSession")
			li.divider
			li(active-nav, forState="showBoards")
				a(href="/boards").headerIconButton
					i.fa.fa-pencil-square-o.fa-lg.show-for-medium-up
					span.hide-for-medium-up.headerButton Boards
			li.divider
			li(active-nav, forState="createBoard")
				a(href="/createBoard").headerIconButton
					i.show-for-medium-up.fa.fa-plus.fa-lg
					span.hide-for-medium-up.headerButton Create a New Board
			li.divider
			li.has-dropdown
				a.headerButton {{displayName}}
				ul.dropdown
					li#logoutButton
						a.headerButton Log Out		
		ul.right(ng-show="!activeSession")	
			li.divider
			li
				a(ng-click="clickLogin()").headerButton Log In	