#homeContents
	span.glyphicon.glyphicon-user.homeicon
	span.glyphicon.glyphicon-arrow-right.homearrow
	span.glyphicon.glyphicon-edit.homeicon
	span.glyphicon.glyphicon-arrow-right.homearrow
	span.glyphicon.glyphicon-globe.homeicon
#homeDescription
	.container
		#demoBoard
//- #homeOne
#homeShare
#homeBoard
//- #homeTwo
#homeFooter

