//- #homeTitle
//- 	span this is whiteboard
#homeContents
	p#homeDiagram How it works
	span.glyphicon.glyphicon-user.homeicon
	span.glyphicon.glyphicon-arrow-right.homearrow
	span.glyphicon.glyphicon-edit.homeicon
	span.glyphicon.glyphicon-arrow-right.homearrow
	span.glyphicon.glyphicon-globe.homeicon
//- #homeOne
#homeBoard
	.col-md-6
		#joinDesc
			span.glyphicon.glyphicon-user.sectionIcon
<<<<<<< HEAD
			span.sectionTitle(data-fittext) Join 
=======
			span.sectionTitle Join 
>>>>>>> 0ec4c87aa66e8dd3a195d296c4eef1b6bdef740a
			p.sectionDescription Sign in or Register
	.col-md-6
#homeTwo
	.col-md-6
		#demoBoard
	.col-md-6
		#drawDesc
			span.glyphicon.glyphicon-edit.sectionIcon
			span.sectionTitle Draw 
			p.sectionDescription Open a napkin and start drawing
#homeShare
	.col-md-10
		#shareDesc
			span.glyphicon.glyphicon-globe.sectionIcon
			span.sectionTitle Collaborate 
			p.sectionDescription Share your napkin with others
	.col-md-2
#homeDescription
	



#homeFooter

