nav.top-bar(data-topbar="")#homeheader
	ul.title-area
		li.name
			h1
				a(href="/boards").siteName bloomboard
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu
	section.top-bar-section
		ul.right(ng-show="activeSession")
			li.divider
			li(active-nav, forState="showBoards")
				a(href="/boards").headerIconButton.has-tip(data-tooltip="boardsTip",title="See My Boards").disableUnderlineTip.show-for-medium-up
					i.fa.fa-pencil-square-o.fa-lg
				a(href="/boards").hide-for-medium-up
					span.headerButton See My Boards
			li.divider
			li(active-nav, forState="createBoard")
				a(href="/createBoard").show-for-medium-up.headerIconButton.has-tip(data-tooltip="createTip",title="Create A Board").disableUnderlineTip
					i.fa.fa-plus.fa-lg
				a(href="/createBoard").headerIconButton.hide-for-medium-up
					span.headerButton Create a New Board
			li.divider
			li.has-dropdown
				a.headerButton {{displayName}}
				ul.dropdown
					li#logoutButton
						a.headerButton Log Out		
		ul.right(ng-show="!activeSession")	
			li.divider
			li
				a(ng-click="clickLogin()").headerButton Log In	