nav.top-bar(data-topbar="", data-options="is_hover: false")#homeheader
	ul.title-area
		li.name
			h1
				a.siteName napkin
	section.top-bar-section
		ul.right
			li.divider
			li(ng-show="activeSession")
				a(href="/boards") []
			li(ng-show="activeSession")
				a(href="/createBoard") +
			li(ng-show="activeSession")
				a {{displayName}}
			li(ng-show="!activeSession") 
				a(ng-click="clickLogin()") Log In
			li(ng-show="activeSession")
				a(ng-click="clickLogout()") Log Out