.white-panel#loginModal
	p#loginTitle sign in with
	#loginRedirectGroup
		div(auth-icon, authProvider="google")#googleIcon.authIcon
		div(auth-icon, authProvider="github")#githubIcon.authIcon
		div(auth-icon, authProvider="linkedin")#linkedinIcon.authIcon
		div(auth-icon, authProvider="twitter")#twitterIcon.authIcon
	p(ng-click="showExplanation=!showExplanation")(style="padding-top: 20px;")#authMoreInfo.noUserSelect
		a Questions about authentication?
	.panel.callout.radius(ng-show="showExplanation")
		p We use third-party authentication to ensure security for our users.
		p We only use:
		ul
			li Email (for notifications)
			li Display Name (for your profile)
		p If you have any questions or concerns, please 
			a(href="mailto:bloomboardapp@gmail.com") contact us

		
