form(action='/api/login', method='post',role="form")#loginform
	h4 Login
	.form-group
		label(for='email')
		input(type='text', name='email')
	.form-group
		label(for='password')
		input(type='password', name='password')
	input(type='submit', value='Log In')
form(action='/api/create_user', method='post')#signupform
	h4 Create User
	.form-group
		input(type='text', name='email')
	.form-group
	input(type='password', name='password')
	.form-group
		input(type='text', name='forename')
	input(type='submit', value='Create User')
