div
	input(type="hidden", data-toggle="modal", data-target="#loginModal")
	.modal.fade#loginModal(tabindex="-1", role="dialog", data-backdrop="static", data-keyboard="false", aria-labelledby="loginModallabel", aria-hidden="true")
		.modal-dialog
			.modal-content#loginModalContent
				.modal-header#loginModalButton
					.noUserSelect(ng-click="showLogin=true")(ng-class="{'loginSelect':!showLogin}") sign in 
					.noUserSelect(ng-click="showLogin=false")(ng-class="{'loginSelect':showLogin}") register
				.modal-body
					#loginView.container
						form(name='loginForm')#loginform(ng-show="showLogin")
							.formTitle sign in
							#loginHidden
								.form-group
									input(type='email', ng-model='login.email', placeholder="Email", required).form-control.validationEmail
								.form-group
									input(type='password', ng-model='login.password', placeholder="Password", ng-minlength="5", ng-maxlength="32", required).form-control.validationInput
								button(ng-model='btnLogin', ng-disabled='loginForm.$invalid', ng-click='loginData()').btn.btn-default Sign In
						form(name='signUpForm', novalidate)#signupform(ng-show="!showLogin")
							.formTitle register
							#signUpHidden
								.form-group
									input(type='email', name='email', ng-model='create.user.email', placeholder="Email", required).form-control.validationEmail
								.form-group#failedPassword
									input(type='password', name='signuppassword', ng-model='create.password', placeholder="Password", ng-minlength="5", ng-maxlength="32", required).form-control.validationInput
								.form-group
									input(type='text', ng-model='create.user.displayName', placeholder="Display Name (Optional)", ng-minlength="4", ng-maxlength="25", ng-pattern="/^[a-zA-Z0-9$@!_-]*$/").form-control.validationInput
								button(type='button', ng-disabled='signUpForm.$invalid', ng-model='btnCreateUser', ng-click='createUser()').btn.btn-default Register

