div
	form
		.formTitle Boards
		label Write Access
		div
			table.tableStyle
				tbody
					tr(ng-repeat='row in writeRows')
						td(ng-repeat='col in writeCols') 
							label {{boards.write[((row)*3)+(col-1)].name}}
							br
							button(ng-click='editClick(boards.write[((row)*3)+(col-1)]._id)').btn.btn-default Edit		
		br
		label Read Access
		div
			table.tableStyle
				tbody
					tr(ng-repeat='row in readRows')
						td(ng-repeat='col in readCols') 
							label {{boards.read[((row)*3)+(col-1)].name}}
							button(ng-click='editClick(boards.read[((row)*3)+(col-1)]._id)').btn.btn-default Edit	
