div(need-access)
div(style='padding:  35px;')(ng-show="showView")
	form
		h1 Boards
		h4(ng-show='showWrite') Write Access
		div(ng-show='showWrite')
			table
				tbody
					tr(ng-repeat='board in boards.write')
						td(style='min-width:250px;')
							label {{board.name}}
						td
							button(ng-click='viewBoard(board._id, board.name)') View
							button(ng-click='editClick(board._id)') Edit	
		br(ng-show='showWrite')
		h4(ng-show='showRead') Read Access
		div(ng-show='showRead')
			table.tableStyle
				tbody
					tr(ng-repeat='board in boards.read')
						td(style='min-width:250px;')
							label {{board.name}}
						td
							button(ng-click='viewBoard(board._id, board.name)') View		
							button(ng-click='editClick(board._id)') Details
