div(need-access)
div#boardList(ng-show="showView")
	h1 Your Boards
	h4(ng-show='!showWrite && !showRead') You have any boards. Why not
		a create one?
	div(ng-show='showWrite || showRead')
		table
			tr(ng-repeat='board in boards.write')
				td
					a(ng-click='viewBoard(board._id, board.name)') {{board.name}}
				td
					label 01/01/01
			tr(ng-repeat='board in boards.read')
				td
					a(ng-click='viewBoard(board._id, board.name)') {{board.name}}
				td
					label 01/01/01
				
