div(click-login)
div
	form
		.formTitle Boards
		h1(ng-show='showWrite') Write Access
		div(ng-repeat='board in boards.write')
			h5 {{board.name}}
			button(ng-click='viewBoard(board._id)').btn.btn-default View
			button(ng-click='editClick(board._id)').btn.btn-default Edit
		br
		h1(ng-show='showRead') Read Access
		div(ng-repeat='board in boards.read')
			h5 {{board.name}}