div(need-access)
div#boardList(ng-show="showView")
	h1 Your Boards
	h4(ng-show='!showWrite && !showRead') You don't have any boards. Why not
		a(ng-click="clickCreateBoard()") &nbsp;create one?
	div(ng-show='showWrite || showRead')
		table
			tr
				td.table-header
					div access level
				td.table-header
					a(ng-click="sort('name')") name
				td.table-header
					a(ng-click="sort('lastEdited')") last edited 
				td.table-header
					a(ng-click="sort('creation')") created

			tr(ng-repeat='board in joinedBoards | orderBy:sortPredicate')
				td
					i.fa.fa-pencil(ng-show="board.writeAccess")
				td
					a(ng-click='viewBoard(board._id, board.name)') {{board.name}}
				td
					label {{convertDate(board.lastEdited)}}
				td
					label {{convertDate(board.creation)}}

				
