nav.top-bar(data-topbar="")#homeheader.fixed
	ul.title-area
		li.name
			h1
				a(href="/boards").siteName bloomboard
		li.toggle-topbar.menu-icon
			a(href="#")
				span Menu
	section.top-bar-section
		ul.right(ng-show="activeSession")
			li.divider
			li(active-nav, forState="createBoard")
				a(href="/createBoard", title="Create a Board").show-for-medium-up.headerIconButton.disableUnderlineTip
					i.fa.fa-plus.fa-lg
				a(href="/createBoard").headerIconButton.hide-for-medium-up
					span.headerButton Create a New Board
			li.divider
			li.has-dropdown
				a.headerButton {{displayName}}
				ul.dropdown
					li
						a(href="/boards").headerButton See My Boards
					li
						a(href="/userSettings").headerButton User Settings
					li#logoutButton
						a.headerButton Log Out		
		ul.right(ng-show="!activeSession")	
			li.divider
			li
				a(ng-click="clickLogin()").headerButton Log In	