div
	form(name='newSettings').userForm
		h1.formTitle Settings
		input(name='input', type='email', ng-model='boardData.newBoardName', placeholder='Enter new Email').form-control
		button(ng-disabled='newSettings.$invalid').btn.success.radius.small Change Email		