div
	form(name='newBoardDetails').userForm
		h1.formTitle User Settings
		input(name='input', type='text', ng-model='boardData.newBoardName', placeholder='Name', required).form-control
		button(ng-model='btnCreateBoard', ng-disabled='newBoardDetails.$invalid',ng-click='createBoardClick()').btn.success.radius.small Change Username		