!!!
html(ng-app="bloomboard")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(href='http://fonts.googleapis.com/css?family=Pacifico|Droid+Sans',rel='stylesheet',type='text/css')
  body
    block body