!!!
html(ng-app="bloomboard")
  head
    meta(charset='utf8')
    base(href='/')
    title napkin
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/general_foundicons.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/zocial.css')
    link(rel='stylesheet', href='/css/bloomboard.css')
    link(rel='shortcut icon', href='/img/bloomboard.ico')
    link(href='http://fonts.googleapis.com/css?family=Wellfleet|Open+Sans|Signika|Signika+Negative|Droid+Sans',rel='stylesheet',type='text/css')
    script(src='js/lib/custom.modernizr.js')
  body
    block body