/* app css stylesheet */

/*-------------------Index---------------------------*/
#mainHeader {
  background-image:none;
  height: 50px;
  width: 100%;
}

#mainHeader * {
  display: inline-block;
}

#mainView {
  font-family: 'Droid Sans';
}

.noUserSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/*-------------------Home---------------------------*/

#homeContents{
  height: 200px;
  background-color:#EEE;
  color:#666;
  text-align:center;
  font-size:48px;
  width: 100%;
}


#homeTitle {
  width: 100%;
  height: 200px;
  background-color:#FF69B4;
}

#homeContents > span:first-child {
  border-left: solid 1px #DDD;
}

.homeicon {
  margin-bottom: 28px;
  padding: 20px 50px;
  /*border-left: solid 1px #DDD;*/
  color: #CD3278;
}

.homearrow {
  font-size:36px;
  color: #CD3278;
}

#homeContents > span:last-child {
  border-right: solid 1px #DDD;
}

#homeShare {
  height: 300px;
  background-color: #ddd;
  width:100%;
  position: relative;
}

#homeOne {
  height: 300px;
  background-color:white;
  /*background-image:url('/img/home_whiteboardtop.jpg');
  background-repeat:no-repeat;
  background-size: cover;*/
  width:100%;
}

#demoBoard {
  border: solid 2px #CD3278;
  border-radius: 10px;
  background-color:white;
  /*display: inline-block;*/
  margin-top:30px;
  margin-bottom:20px;
  height: 240px;
  width: 360px;
}

#homeBoard {
  width: 100%;
  height: 300px;
  background-color: #EED2EE;
}

#homeTwo {
  height: 300px;
/*  background-image:url('/img/home_whiteboardbottom.jpg');
  background-repeat:no-repeat;
  background-size: cover;*/
  width:100%;
  background-color: white;
}

#homeFooter {
  height: 350px;
  background-color:#683A5E;
  width: 100%;
}

#homeTitle {
  font-family: 'Pacifico';
  font-size: 84px;
  color:white;
}

.sectionTitle {
  font-family: 'Signika';
  font-size: 128px;
  color: #683A5E;
}

.sectionDescription {
  font-family: 'Droid Sans';
  font-size: 22px;
  text-align:center;
}

.sectionIcon {
  font-size: 86px;
  color:#683A5E;
  margin: 10px;
  padding-right: 20px;
}

.welcomeTo {
  font-size:48px;
}

#drawDesc {
  margin: 20px;
}

#joinDesc {
  margin: 20px;
}

#shareDesc {
  margin: 20px;
}

#homeDiagram {
  padding-top: 15px;
  font-size: 24px;
  color:#683A5E;
  font-family: 'Signika';
}

@media (width:480px) {

}
/*-------------------Home Header---------------------*/

.siteTitle {
  padding-left: 20px;
  margin: 0px !important;
  font-family: 'Delius Swash Caps';
  font-size:32px;
  color:white;
  -webkit-user-select: none;
  cursor: pointer;
}

#homeHeader {
  background-color: #FF69B4;
  width: 100%;
  height:50px;
}

.buttonBar {
  text-align: right;
}

.buttonBar > div {
  padding: 0 15px;
  background-color: #FF69B4;
  border-style:none;
  color:white;
  font-size: 20px;
  font-family: 'Share Tech';
  -webkit-user-select: none;
  cursor:pointer;
}

/*-------------------Board---------------------------*/
#drawingBoard {
  /*width: 640px;*/
  /*height: 480px;*/

  position: relative;
  top: 10px;
  left: 40px;
}

#topLeft {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 0px;
  left: 0px;
  border-left: solid 3px #FF69B4;
  border-top: solid 3px #FF69B4;
}

#bottomRight {
  width: 30px;
  height: 30px;

  position: absolute;
  bottom: 0px;
  right: 0px;

  border-right: solid 3px #FF69B4;
  border-bottom: solid 3px #FF69B4;
}

#boardView {
  position: relative;
}

#drawingToolBar {
  width: 100%;
  height: 40px;
  background-color:#EEE;
}

/*------------------Board Header---------------------*/

#boardHeader {
  background-color:#FFF;
  width: 100%;
  height:100%;
}

.boardTitle {
  padding-left: 20px;
  font-family: 'Pacifico';
  font-size:36px;
  color:#FF69B4;
}

/*------------------Login---------------------*/

#loginView {
  color: #683A5E;
}

#loginView > h1 {
  font-family:"Share Tech";
}

#loginform {
  background-color: #FFE4E1;
  border-radius: 4px;
  padding: 20px;
  text-align:center;
  margin-bottom: 20px;
}

#signupform {
  padding: 20px;
  background-color: #FFE4E1;
  border-radius: 4px;
  text-align:center;
}

#signUpHidden {
  padding-top: 20px;
}

#loginHidden {
  padding-top: 20px;
}

.formTitle {
  font-family:"Share Tech";
  font-size: 64px;
  cursor:pointer;
  -webkit-user-select: none;
}

#orTitle {
  font-family:"Share Tech";
  font-size: 34px;
  text-align:center;
  display:inline-block;
}

#loginModalContent {
  background-color:#FFE4E1;
}

#loginModalButton {
  padding:0px;
  font-family:"Share Tech";
  font-size:24px;
}

#loginModalButton > div {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align:center;
  padding:5px;
  cursor: pointer;
}

.loginSelect {
  background-color:#FF69B4;
  color:white;
}

#loginPopup {
  width: 100%;
  height: 100%;
}
