/* app css stylesheet */

html {
  min-width: 320px;
}

.validationEmail.ng-invalid.ng-dirty:not(:focus) {
  border-color:#BE2625 !important;
}

.validationInput.ng-invalid.ng-dirty {
  border-color:#BE2625 !important;
}

.loginRedirectGroup > a {
  margin: 5px;
}

.headerIconButton {
  display: inline-block !important;
}

.headerButton {
  font-family:'Droid Sans'!important;
  font-size:16px!important;
}

.authIcon {
  width: 100px;
  height: 100px;
  cursor:pointer;
}

#googleIcon {
  background-image:url("/img/googleplusicon.png");
}

#facebookIcon {
  background-image:url("/img/facebookicon.png");
}

#linkedinIcon {
  background-image:url("/img/linkedinicon.png");
}

#twitterIcon {
  background-image:url("/img/twittericon.png");
}

#loginModal {
  font-family:'Droid Sans';
}

.spinStyle {
  width: 100%;
  height: 100px;
  text-align: center;
  color:#444;
}

/*-------------------Index---------------------------*/
#mainHeader {
  background-image:none;
  height: 50px;
  width: 100%;
}

#mainHeader * {
 /* display: inline-block;*/
}

.noUserSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/*------------------Home Header---------------------*/


.siteName {
  color:white;
  font-family: "Wellfleet";
  font-size: 32px;
}


#homeHeader {
  color:white;
  /*
  width: 100%;
  height:50px;*/
}

.buttonBar {
  text-align: right;
}

.buttonBar > div {
  padding: 0 15px;
  background-color: #2E2E2E;
  border-style:none;
  color:white;
  font-size: 20px;
  font-family: 'Share Tech';
  -webkit-user-select: none;
  cursor:pointer;
}

/*-------------------Board---------------------------*/
#drawingBoard {
  width: 640px;
  height: 480px;

  position: relative;
  top: 10px;
  left: 40px;

  text-align:center;
}

#topLeft {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 0px;
  left: 0px;
  border-left: solid 3px #7A7A7A;
  border-top: solid 3px #7A7A7A;
}

#bottomRight {
  width: 30px;
  height: 30px;

  position: absolute;
  bottom: 0px;
  right: 0px;

  border-right: solid 3px #7A7A7A;
  border-bottom: solid 3px #7A7A7A;
}

.boardCenter {
  position: absolute;
  top: 150px;
}

#boardView {
  position: relative;
}

#drawingToolBar {
  width: 100%;
  height: 40px;
  background-color:#EEE;
}

#drawingToolBar > ul {
  padding: 10px;
}
/*------------------Login---------------------

#loginView {
  color: #303030;
}

#loginView > h1 {
  font-family:"Share Tech";
}

#loginform {
  background-color: #EEE;
  border-radius: 4px;
  padding: 20px;
  text-align:center;
  margin-bottom: 20px;
}

#signupform {
  padding: 20px;
  background-color: #EEE;
  border-radius: 4px;
  text-align:center;
}

#signUpHidden {
  padding-top: 20px;
  padding: 2px;
}*/

#drawingToolBar > ul > li > i {
  padding: 8px;
  border: solid 1px #888;
  border-radius: 3px;
  cursor: pointer;
}

.toolButtonActive{
  background-color: #999;
}

#drawingToolBar > ul > li > span {
  padding: 2px 10px;
  font-family:"Droid Sans";
  font-size: 20px;
  color: black;
}
