/* app css stylesheet */

/*-------------------Index---------------------------*/
#mainHeader {
  background-image:none;
  height: 50px;
  width: 100%;
}

#mainHeader * {
  display: inline-block;
}

#mainView {
  font-family: 'Droid Sans';
}

.noUserSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}


/*-------------------Home Header---------------------*/

.siteTitle {
  padding-left: 20px;
  margin: 0px !important;
  font-family: 'Delius Swash Caps';
  font-size:32px;
  color:white;
  -webkit-user-select: none;
  cursor: pointer;
}

#homeHeader {
  background-color: #3F6826;
  width: 100%;
  height:50px;
}

.buttonBar {
  text-align: right;
}

.buttonBar > div {
  padding: 0 15px;
  background-color: #3F6826;
  border-style:none;
  color:white;
  font-size: 20px;
  font-family: 'Share Tech';
  -webkit-user-select: none;
  cursor:pointer;
}

/*-------------------Board---------------------------*/
#drawingBoard {
  width: 640px;
  height: 480px;

  position: relative;
  top: 10px;
  left: 40px;
}

#topLeft {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 0px;
  left: 0px;
  border-left: solid 3px #567E3A;
  border-top: solid 3px #567E3A;
}

#bottomRight {
  width: 30px;
  height: 30px;

  position: absolute;
  bottom: 0px;
  right: 0px;

  border-right: solid 3px #567E3A;
  border-bottom: solid 3px #567E3A;
}

#boardView {
  position: relative;
}

#drawingToolBar {
  width: 100%;
  height: 40px;
  background-color:#EEE;
}

/*------------------Login---------------------*/

#loginView {
  color: #46523C;
}

#loginView > h1 {
  font-family:"Share Tech";
}

#loginform {
  background-color: #CFDBC5;
  border-radius: 4px;
  padding: 20px;
  text-align:center;
  margin-bottom: 20px;
}

#signupform {
  padding: 20px;
  background-color: #CFDBC5;
  border-radius: 4px;
  text-align:center;
}

#signUpHidden {
  padding-top: 20px;
}

#loginHidden {
  padding-top: 20px;
}

.formTitle {
  font-family:"Share Tech";
  font-size: 64px;
  cursor:pointer;
  -webkit-user-select: none;
}

#orTitle {
  font-family:"Share Tech";
  font-size: 34px;
  text-align:center;
  display:inline-block;
}

#loginModalContent {
  background-color:#CFDBC5;
}

#loginModalButton {
  padding:0px;
  font-family:"Share Tech";
  font-size:24px;
}

#loginModalButton > div {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align:center;
  padding:5px;
  cursor: pointer;
  color: #46523C;
}

.loginSelect {
  background-color:#46523C;
  color:white !important;
}

#loginPopup {
  width: 100%;
  height: 100%;
}
